@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #1f1f38;
  --bg-image: url("./assets/bg-texture.png");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  background-image: var(--bg-image);
  background-attachment: fixed;
}
